body {
  margin: 0;
}

/*#VRButton::before {
  background: red;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -20px;
  content: "";
}*/

#VRButton {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  width: 500px !important;
  height: 500px !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 50% !important;
  /*background: linear-gradient(#C3E3F0, #000) !important;*/
  background: rgba(0,0,0,0) !important;
  /*opacity: 0.9 !important;*/
  border: none !important;
  font-size: 1.5em !important;
}

#VRButton::after {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  content: "I will live on your wrist. Tap me for options.";
  font-style: italic;
  font-size: 0.6em;
  /*background: red;*/
  width: 300px;
}













#fileupload {
  position: fixed;
  bottom: 0;
}

#fileupload > label {
  display:block;
  background: white;
  outline: 1px black solid;
  border-radius: 3px;
  text-align: center;
  width:150px;
  height:30px;
  padding-top: 10px;
  margin: 10px;
  cursor: pointer;
}

#fileupload > label:hover {
  outline: 2px black solid;
}

#upload {
  display: none;
}









#indicators {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#loaderping {
  background: #e78900;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  opacity: 0;
/*  animation-name: loaderpinganim;*/
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.notification {
  color: #c3c3c3;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50px;
  font-size: 1.5em;
  font-family: sans-serif;
}

#workspacenotification {
  opacity: 0;
/*  animation-name: notificationanim;*/
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes loaderpinganim {
  0% {
    opacity: 0;
    transform: scale(1.0);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2.0);
  }
}

@keyframes notificationanim {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(-50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}